/* ************Desktop*********** */
/* navbare */
* {

    margin: 0;
}

body {
    width: 100%;
}

.nav {

    width: 100%;
    height: 5vw;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 999;

}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-inline: 100px;
}

.links a {
    text-decoration: none;
    color: gainsboro;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button {

    display: flex;

}

.title span {
    color: red;

}

.button .btn1 {
    width: 120px;
    padding: 5px;
    border: none;
    background-color: rgb(202, 47, 27);
    border-radius: 25px;
    color: white;
    font-weight: bold;




}





/* *************Tablette************ */





/* ***************Mobile*************** */