/* ************Desktop*********** */
/* navbare */
* {

    margin: 0;
}

body {
    width: 100%;
}

.btn1 {
    padding: 12px 25px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 420px;
    border-radius: 12px;
    animation: pop 0.3s ease;
}

/* @keyframes pop { from { transform: scale(0.9); opacity: 0; } to { transform: scale(1); opacity: 1; } } */
.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e63946;
}

/* Form */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.closeBtn {
    background: #aaa;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.reserveBtn {
    background: #e63946;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}



.modaldiv {
    width: 65vh;
    display: none;
    position: absolute;

    height: 65vh;
    background: rgba(229, 222, 222, 0.614);
    color: rgb(163, 117, 117);
    border-radius: 15px;
    top: 20%;
    left: 50%;
    z-index: 5;

    h1 {
        color: #000000;
        padding-top: 120px;
        text-align: center;
    }

}


.modalbtn {
    width: 120px;
    padding: 5px;
    border: none;
    background-color: rgb(202, 47, 27);
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.close {

    position: absolute;
    top: 15px;
    right: 15px;

    background-color: red;
    border-radius: 50%;
    width: 35px;
    height: 35px;


}

.signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 40px;

    input {
        padding: 12px 15px;
        border: 1px solid #ccc;
        border-radius: 30px;
        color: #000000;
        background-color: #46464681;
        width: 35vh;

    }

    .logine2 {
        background-color: #e63946;
    }

    input::placeholder {
        color: #000000;
    }

    .regist {
        width: 120px;
        padding: 5px;
        border: none;
        background-color: rgb(202, 47, 27);
        border-radius: 25px;
        color: white;
        font-weight: bold;

    }

    p {
        color: #000000;

        span {
            color: rgb(202, 47, 27);
        }
    }


}






/* *********navbare********* */
.nav {

    width: 100%;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 999;

}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-inline: 100px;
}

.links a {
    text-decoration: none;
    color: rgb(165, 160, 160);
    position: relative;

}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;

    top: 30px;
    width: 0;
    height: 2px;
    background-color: rgb(135, 27, 27);
    transition: width 0.3s ease;
}

.links a:hover,
.links a:focus {
    color: #4e4e59;
}

.links a:hover::after,
.links a:focus::after {
    width: 100%;
}

.button {

    display: flex;
    gap: 30px;
}

.title span {
    color: rgb(202, 47, 27);

}

.button .btn1 {
    width: 120px;
    padding: 5px;
    border: none;
    background-color: rgb(202, 47, 27);
    border-radius: 25px;
    color: white;
    font-weight: bold;




}

/* hero section   */
.hero {
    width: 100%;
    height: 88vh;
    background-color: rgba(190, 186, 186, 0.879);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ratio {

    display: none;

    .closes {

        position: absolute;

        right: 80px;

        background-color: red;
        border-radius: 50%;
        width: 35px;
        height: 35px;


    }

    z-index: 10;

    iframe {
        width: 200vh;
        height: 100vh;

    }
}

.video {

    /* display: none; */
    width: 100vh;

    .close {

        position: absolute;

        right: 80px;

        background-color: red;
        border-radius: 50%;
        width: 35px;
        height: 35px;


    }

    z-index: 11;

    if2 {
        width: 90vh;
        height: 100vh;

    }
}

.descr {

    width: 70vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .text {
        h1 {

            font-family: 'Amatic SC', cursive;
            font-size: 60px;
        }

        p {
            color: rgb(80, 80, 80);
            font-size: 20px;
        }
    }

    .butnhero {
        height: 40px;
        display: flex;
        gap: 20px;

        .hero1 {
            width: 120px;
            padding: 5px;
            border: none;
            background-color: rgb(202, 47, 27);
            border-radius: 25px;
            color: white;
            font-weight: bold;


        }

        .hero2 {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;

            i {
                color: rgb(202, 47, 27);
                font-size: 30px;
            }
        }


    }

}

.imgright {

    width: 120vh;
    height: 85vh;
    position: relative;
    overflow: hidden;

    img {
        padding-left: 150px;
        position: absolute;
        animation: tabsile 2s ease-in-out infinite alternate-reverse both;
    }





}

@keyframes tabsile {

    0% {
        transform: translateY(10px);
    }

    100% {


        transform: translateY(-10px);
    }
}

/* section About Us */
.about {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .part2 {
        display: flex;
        gap: 15px;
    }

    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        p {
            color: rgb(214, 210, 210);
        }

        h1 {
            font-family: 'Amatic SC', cursive;
            font-size: 40px;
        }

        h1 span {
            color: rgb(202, 47, 27);
        }
    }

    .part2 .lefts {
        width: 90vh;
        height: 80vh;

        img {
            width: 100%;
            height: 60vh;
        }

        .bord {
            width: 89vh;
            height: 18vh;
            border: 3px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .ti2 {
                color: rgb(202, 47, 27);
                font-size: 30px;
            }
        }
    }

    .part2 .rights {
        width: 70vh;
        height: 80vh;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .paragraphe1 {
            color: rgb(147, 143, 143);
            margin-bottom: 20px;
        }

        .liste {
            list-style: none;
            padding: 0;
        }

        .liste li {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 15px;
        }

        .liste i {
            color: rgb(202, 47, 27);
            font-size: 18px;
            margin-top: 4px;
        }

    }

    .imge-video {
        position: relative;
        width: 100%;
    }

    .imge-video img {
        width: 100%;
        height: 40vh;

    }

    .imge-video .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(202, 47, 27);
        color: white;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-size: 32px;
        border: none;
    }

}







/* section why choose yummy  */
.why {
    width: 100%;
    height: 60vh;
    background-color: rgb(237, 227, 227);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card1 {

    width: 40vh;
    height: 40vh;
    background-color: rgb(202, 47, 27);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 20px;
    padding-top: 20px;
    color: white;
    align-items: center;

    button {
        background-color: rgba(198, 194, 194, 0.271);
        border: none;
        color: white;
        border-radius: 30px;
        width: 150px;
        height: 40px;

    }

    button:hover {
        background-color: white;
        color: rgb(202, 47, 27);
    }

}

.card2 {
    width: 25vh;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-inline: 20px;
    padding-top: 20px;

    i {
        background-color: rgb(221, 190, 190);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: rgba(210, 9, 9, 0.777);
    }
}

.p2 {
    color: grey;
}

.card2:hover {

    i {
        color: white;
        background-color: rgba(210, 9, 9, 0.777);
    }
}

.card3 {
    width: 25vh;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-inline: 20px;
    padding-top: 20px;

    i {
        background-color: rgb(221, 190, 190);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: rgba(210, 9, 9, 0.777);
    }
}

.card3:hover {

    i {
        color: white;
        background-color: rgba(210, 9, 9, 0.777);
    }
}

.card4 {
    width: 25vh;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-inline: 20px;
    padding-top: 20px;

    i {
        background-color: rgb(221, 190, 190);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: rgba(210, 9, 9, 0.777);
    }
}

.card4:hover {

    i {
        color: white;
        background-color: rgba(210, 9, 9, 0.777);
    }
}


/* db section dyal menu  */
.menu {
    width: 100%;
    height: 200vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    img {
        width: 300px;
        height: 300px;
    }

    .titls1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        p {
            color: #aaa8a8;
            font-size: 15px;
        }

        .nums1,
        .nums2,
        .nums3,
        .nums4 {
            font-family: 'Amatic SC', cursive;
            font-size: 40px;

            span {
                color: rgba(210, 9, 9, 0.777);
            }
        }

    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        p {
            color: #aaa8a8;
            font-size: 15px;
        }

        h1 {
            color: rgba(210, 9, 9, 0.777);
            font-family: 'Amatic SC', cursive;

        }

        .spanes {
            display: flex;
            gap: 40px;
        }

        span {
            position: relative;
        }

        span::after {
            content: "";
            position: absolute;
            left: 0;

            top: 30px;
            width: 0;
            height: 2px;
            background-color: rgb(135, 27, 27);
            transition: width 0.3s ease;
        }

        span:hover,
        span:focus {
            color: #4e4e59;
        }

        span:hover::after,
        span:focus::after {
            width: 100%;
        }
    }

    #sp2,
    #sp3,
    #sp4 {

        display: none;

    }

    .lunch {

        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .lwline {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }


    .tanine {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .magnam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            color: #ccc;
        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: rgba(210, 9, 9, 0.777);
        }
    }

    .Aut {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            color: #ccc;
        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: rgba(210, 9, 9, 0.777);
        }


    }

    .Est {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            color: #ccc;
        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: rgba(210, 9, 9, 0.777);
        }
    }

    .eos2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            color: #ccc;
        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: rgba(210, 9, 9, 0.777);
        }
    }

    .eos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            color: #ccc;
        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: rgba(210, 9, 9, 0.777);
        }
    }

    .laboriosam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            color: #ccc;
        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: rgba(210, 9, 9, 0.777);
        }
    }


    .breakfest-click {
        display: none;
    }

}

/* db l caroussel lwl  */
.caroussel1 {
    width: 100%;
    height: 80vh;
    background-color: #dddbdb;
    display: flex;
    flex-direction: column;
    align-items: center;







    .parti {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 30px;


        p {
            color: #ccc;
        }

        h1 {
            font-family: 'Amatic SC', cursive;

            span {
                color: rgba(210, 9, 9, 0.777);
            }
        }


    }








    .carousel-container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        /* border-radius: 10px; */
        /* box-shadow: 0 4px 12px rgba(0,0,0,0.15); */
    }

    .carousel {

        display: flex;
        height: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .cont {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
            font-size: 30px;
            font-weight: 100;
            font-family: 'Amatic SC', cursive;

        }

        h5 {
            color: grey;
            font-family: 'Amatic SC', cursive;

        }

        .car {
            font-size: 20px;
        }

        i {
            color: rgba(210, 9, 9, 0.777);
            font-size: 25px;
        }

    }

    .carousel-slide {
        min-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .carousel-slide img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.7);
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s;
    }

    .carousel-btn:hover {
        background: white;
    }

    .prev-btn {
        left: 10px;
        display: none;
    }

    .next-btn {
        right: 10px;
        display: none;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 8px;
    }


    .indicator {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .indicator.active {
        background-color: rgba(210, 9, 9, 0.777);
    }

    .rr {
        width: 50vh;
        height: 50vh;
        background-color: aquamarine;
    }




}



/* hadi db l caroussel tania  */
/* .caroussel2 {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;

    img {
        width: 100px;
        height: 100px;
    }
} */

.Events {
    height: 75vh;
    width: 100%;
    overflow: hidden;
}

.content-events {
    display: grid;
    grid-template-columns: repeat(4, 35%);
    gap: 2px;
    height: 100%;
    width: 100%;
}

.carousel-evnets {
    height: 90%;
    width: 100%;
}


.event-1 {
    background-image: url("../images/events-1.jpg");
}

.event-2 {
    background-image: url("../images/events-2.jpg");
}

.event-3 {
    background-image: url("../images/events-3.jpg");
}

.event-4 {
    background-image: url("../images/events-4.jpg");
}

.event-1,
.event-2,
.event-3,
.event-4 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

.event-1::after,
.event-2::after,
.event-3::after,
.event-4::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--darkblue);
    opacity: 0.5;
}

.type-event {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99999;
}

.type-event h3 {
    font-size: 30px;
    color: var(--backgrandColor);
    font-family: var(--fontAmntic);
}

.type-event h2 {
    color: var(--backgrandColor);
    width: fit-content;
    font-size: 30px;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--colorPrice);
}

.type-event p {
    color: var(--backgrandColor);
}

.content-events {
    display: flex;
    height: 100%;
    width: 140%;
    transition: transform 0.8s ease-in-out;
}

.event-1,
.event-2,
.event-3,
.event-4 {
    max-width: 29%;
    height: 100%;
    position: relative;
}

.Events {
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.content-events>div {
    min-width: 10%;
    height: 100%;
    flex-shrink: 0;
}

.content-events {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease;
}







/* .caroussel2 .carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.caroussel2 .carousel {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.caroussel2 .carousel-slide {
  min-width: calc(100% / 3);
  display: flex;
  justify-content: center;
}

.caroussel2 img {
  width: 95%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
} */



/* db andiro l caroussel 3 */











/* section number and baground images */

.bgimg {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.568)), url(../images/stats-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 250px;

    h1 {
        color: white;
        font-size: 60px;

    }

    p {
        color: grey;
        font-weight: bold;
    }
}

/* section des chefs  */
.chefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 115vh;
    gap: 30px;
}

.title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 40px;

    p {
        color: gainsboro;
    }

    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 45px;

        span {
            color: rgba(210, 9, 9, 0.777);
        }

    }
}

.cards {
    display: flex;
    gap: 20px;
}

.chef-card {
    position: relative;
    width: 55vh;
    height: 85vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s ease,
}

.chef-card:hover {
    /* transform: translateY(-15px); */
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.2); */
    transform: scale(1.1);
}

.chef-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 15px;

    h3 {
        font-size: 25px;
    }

    span {
        color: rgb(181, 179, 179);
    }

    p {
        color: rgb(181, 179, 179);
        font-weight: 300;
    }
}

.images {
    position: relative;
}

.images img:first-child {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}

.iconenone {
    position: absolute;
    touch-action: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: 0.6s ease;
    z-index: 5;
    background-color: rgba(221, 212, 212, 0.649);
    height: 20vh;
    width: 5vh;
    align-items: center;
    padding-top: 10px;
    bottom: 240px;
}

.iconenone i {
    color: rgb(108, 108, 108);


}

.chef-card:hover .iconenone {
    right: 15px;
    opacity: 1;
}

.dilale {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 2;
    filter: brightness(0) invert(1);
}


/* book a table  */
.book-table {

    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    /* padding-inline: 50px; */

    .book2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;


        padding-top: 30px;

        h2 {
            font-family: 'Amatic SC', cursive;
            font-size: 40px;

        }

        h2 span {
            color: rgb(202, 47, 27);

        }

        p {
            color: rgb(210, 205, 205);
        }

        button {
            padding: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            background-color: rgba(238, 167, 37, 0.616);
            border-radius: 20px;
            color: rgb(136, 96, 21);
            display: flex;
            align-items: center;
            justify-content: center;


        }
    }

    .cartes {
        display: flex;
        gap: 40px;
        background-color: #efefef;
        width: 180vh;

        input {

            width: 180px;
            height: 6vh;
        }

        .cartes-rights {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 30px;



            button {
                border: none;
                background-color: rgb(202, 47, 27);
                color: white;
                width: 190px;
                height: 50px;



            }

            .button9 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }



}



/* db carousel 333333333333333333 */





.caroussel3 {
    width: 100%;
    height: 80vh;
    background-color: #e7e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;


}

.akhire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

    p {
        color: #c4c2c2;
    }

    h1 {
        font-family: 'Amatic SC', cursive;

        span {
            color: rgb(202, 47, 27);
        }
    }

}

.carousel4 {
    display: flex;

    img {
        width: 170px;
        height: 170px;
    }
  .carousel-btn2 {
        
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.7);
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s;
    }
    .carousel-btn:hover {
        background: white;
    }

    .prev-btn2 {
        left: 10px;
      
    }

    .next-btn2 {
        right: 10px;
       
    }

    .carousel-indicators2 {
       
        bottom: 15px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 8px;
    }


    .indicator2 {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .indicator2.active {
        background-color: rgba(210, 9, 9, 0.777);
    }

    




}





/* **contact us ** */
.contact {
    /* background-color: blueviolet; */
    width: 100%;
    height: 190vh;
    padding-top: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .maps {
        display: flex;

        justify-content: center;
        padding-top: 50px;
    }

    .conta {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 40px;


        .button4 {
            padding: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
            /* background-color: rgba(255, 166, 0, 0.616); */
            border-radius: 20px;
            color: orange;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h2 {
            font-family: 'Amatic SC', cursive;
            font-size: 40px;

            span {
                color: rgb(202, 47, 27);
            }
        }

        p {
            color: rgb(195, 195, 195);
        }
    }

    .les-informations {
        /* padding-inline: 90px; */

        /* background-color: palegreen; */
        width: 80%;
        /* margin: auto; */
        height: 60vh;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-inline: 143px;


        .small-part {
            display: flex;
            flex-direction: column;
            gap: 30px;

            /* padding-inline: 30px;
            padding-top: 25px;
            width: 30%;
            height: 70vh;
            background-color: white; */
            .icone {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .saf1 {
                display: flex;
                width: 100%;
                /* background-color: blue; */
                gap: 20px;

                .adresse {
                    background-color: rgb(255, 255, 255);
                    /* width: 100vh;
                    height: 10vh; */
                    flex: 1;
                    padding: 20px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);

                }

                .call {
                    background-color: rgb(255, 255, 255);
                    /* width: 100vh;
                    height: 10vh; */
                    flex: 1;
                    padding: 20px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
                }

            }

            .saf2 {

                display: flex;
                /* background-color: rgb(0, 255, 200); */
                gap: 20px;

                .email {
                    background-color: rgb(255, 255, 255);
                    /* width: 80vh;
                    height: 10vh; */
                    flex: 1;
                    padding: 20px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);

                }

                .opening {
                    /* background-color: rgb(232, 232, 232); */
                    /* width: 80vh;
                    height: 10vh; */
                    flex: 1;
                    padding: 20px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
                }


            }

            i {
                color: white;
                background-color: rgba(210, 9, 9, 0.777);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }

    }

    .big-part {
        /* padding-inline: 30px; */
        /* height: 70vh; */
        padding: 30px;
        border-radius: 8px;

        /* padding-top: 20px;
        padding-bottom: 20px; */
        /* width: 94%; */
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */

        gap: 20px;

        input,
        textarea {

            /* width: 350px;
            height: 6vh;
             width: 100%; */
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
            padding: 12px;
            width: 100%;

        }

        .name-email {
            display: flex;
            gap: 25px;
            width: 100%;


        }

        .inp1 {
            width: 80vh;
        }

        .inp2 {
            width: 70vh;
        }


    }

    .button5 {

        display: flex;
        justify-content: center;
        padding-top: 20px;

    }

    button {
        border: none;
        background-color: rgb(202, 47, 27);
        color: white;
        width: 190px;
        height: 50px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;





    }
}

/* *****footer**** */
.footer {
    color: white;
    width: 100%;
    height: 40vh;
    background-color: #1e160d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    .top-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;

        .footer-contact {
            display: flex;
            gap: 20px;

            i {
                font-size: 20px;
                color: rgb(202, 47, 27);
            }
        }

        .adresse1,
        .hours-footer {
            display: flex;
            gap: 20px;

            i {
                font-size: 20px;
                color: rgb(202, 47, 27);
            }

        }

        .para1 {
            padding-bottom: 30px;
        }

        .Follow {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .icones {

                display: flex;
                gap: 10px;

                i {

                    background-color: transparent;
                    border: solid 2px grey;
                    border-radius: 50%;
                    align-items: center;
                    padding: 10px;
                    width: 10px;
                    height: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

            }


        }
    }

    .buttom-footer {
        p span {
            color: rgb(202, 47, 27);
        }

        hr {
            width: 190vh;


        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

}



/* *********** respo *********** */

/* ===== Tablet ===== */
@media (max-width: 992px) {

    .nav,
    .caroussel1,
    .caroussel3,
    .Events {
        display: none;
    }

    .hero {
        height: auto;
        flex-direction: column;
        text-align: center;
        padding: 60px 5%;
        gap: 40px;
    }

    .descr {
        max-width: 100%;
    }

    .text h1 {
        font-size: 38px;
    }

    .text p {
        margin: auto;
        font-size: 16px;
    }

    .butnhero {
        justify-content: center;
    }

    .imgright img {
        width: 380px;
    }
}

/* ===== Mobile ===== */
@media (max-width: 576px) {

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 14px;
    }

    .butnhero {
        flex-direction: column;
        gap: 15px;
    }

    .hero1,
    .hero2 {
        width: 200px;
        justify-content: center;
    }

    .imgright img {
        display: none;
    }


}

/* ===== Tablet ===== */
@media (max-width: 992px) {
    .about {
        width: auto;
        height: auto;
    }

    .part2 {
        flex-direction: column;
    }

    .lefts img {
        height: 50vh;
    }

    .imge-video img {
        height: 30vh;
    }
}

/* ===== Mobile ===== */
@media (max-width: 576px) {

    .nav,
    .menu,
    .about {
        display: none;
    }

    .titles h1 {
        font-size: 36px;
    }

    .lefts img {
        height: 30vh;
    }

    .imge-video img {
        height: 25vh;
    }

    .bord {
        font-size: 14px;
    }

    .bord .ti2 {
        font-size: 20px;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .spanes {
        gap: 25px;
        flex-wrap: wrap;
    }

    .lwline,
    .tanine {
        gap: 40px;
    }
}



/* Tablet */
@media (max-width: 992px) {
    .why {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 30px 0;
    }

    .card1 {
        width: 60vh;
        height: auto;
        padding: 20px;
    }

    .card2,
    .card3,
    .card4 {
        width: 50vh;
        height: auto;
        padding: 20px;
    }

    .card1 button {
        width: 140px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .why {
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
    }

    .card1 {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .card2,
    .card3,
    .card4 {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .card1 h1 {
        font-size: 28px;
    }

    .card1 p,
    .card2 p,
    .card3 p,
    .card4 p {
        font-size: 14px;
    }

    .card1 button {
        width: 120px;
        height: 35px;
    }

    .card2 i,
    .card3 i,
    .card4 i {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .titls1 h1 {
        font-size: 36px;
    }

    .navigation h1 {
        font-size: 32px;
    }

    .spanes {
        gap: 15px;
        font-size: 14px;
    }

    .lwline img,
    .tanine img {
        width: 160px;
        height: 160px;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .bgimg {
        flex-direction: column;
        gap: 40px;
        height: auto;
        padding: 40px 0;
    }

    .bgimg h1 {
        font-size: 50px;
    }

    .bgimg p {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .bgimg {
        flex-direction: column;
        gap: 30px;
        height: auto;
        padding: 30px 10px;
        background-size: cover;
    }

    .bgimg h1 {
        font-size: 36px;
    }

    .bgimg p {
        font-size: 14px;
    }
}


/* Tablet */
@media (max-width: 992px) {
    .chefs {
        height: auto;
        gap: 20px;
        padding: 20px 10px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .chef-card {
        width: 80%;
        height: auto;
    }

    .images img:first-child {
        height: 40vh;
    }

    .iconenone {
        right: 10px;
        width: 7vh;
        height: 15vh;
    }

    .chef-info {
        padding-inline: 10px;
        gap: 15px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .title2 h1 {
        font-size: 32px;
    }

    .cards {
        flex-direction: column;
        gap: 20px;
    }

    .chef-card {
        width: 95%;
        height: auto;
    }

    .images img:first-child {
        height: 30vh;
    }

    .iconenone {
        right: 5px;
        width: 6vh;
        height: 12vh;
    }

    .chef-info h3 {
        font-size: 20px;
    }

    .chef-info span {
        font-size: 14px;
    }

    .chef-info p {
        font-size: 13px;
    }
}



/* Tablet */
@media (max-width: 992px) {
    .book-table {
        height: auto;
        gap: 40px;

        /* padding: 30px 20px; */
    }

    .cartes {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .cartes img {
        width: 90vh;
        height: auto;
        padding-inline: 40vh;
    }

    .cartes-rights {
        width: 100%;
        padding-top: 20px;
        gap: 15px;
        padding-inline: 40vh;
    }

    .cartes-rights input,
    .cartes-rights textarea {
        width: 90vh;
    }

    .date input {
        width: 100%;
        margin-bottom: 10px;
    }

    .button9 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 100vh;
    }

    .button9 button {
        width: 100%;

    }
}

/* Mobile */
@media (max-width: 576px) {
    .book-table {
        /* gap: 30px;
    padding: 20px 15px; */
        display: none;
    }

    .book2 h2 {
        font-size: 32px;
    }

    .cartes img {
        width: 50vh;
        height: auto;
    }

    .cartes-rights {
        gap: 10px;
    }

    .cartes-rights input,
    .cartes-rights textarea {
        width: 100%;
    }

    .date input {
        width: 100%;
        margin-bottom: 10px;
    }

    .button9 button {
        width: 100%;
    }
}




/* Tablet */
@media (max-width: 992px) {
    .contact {
        height: 240vh;
        padding: 50px 20px;
        display: none;
    }



    .small-part {
        flex-direction: column;
        gap: 20px;
    }

    .saf1,
    .saf2 {
        flex-direction: column;
    }

    .big-part {
        padding: 20px;
    }

    .name-email {
        flex-direction: column;
        gap: 15px;
    }

    .inp1,
    .inp2 {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .contact {
        height: 240vh;
        gap: 30px;
        padding: 30px 15px;
    }

    .maps iframe {
        width: 100%;
        height: 250px;
    }

    .les-informations {
        width: 100%;
        padding-inline: 10px;
        gap: 20px;
    }

    .small-part {
        gap: 15px;
    }

    .saf1,
    .saf2 {
        flex-direction: column;
    }

    .big-part {
        padding: 15px;
    }

    .name-email {
        flex-direction: column;
        gap: 10px;
    }

    .inp1,
    .inp2 {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    button {
        width: 100%;
    }
}



/* Tablet */
@media (max-width: 992px) {

    .footer {
        height: auto;
        padding: 40px 20px;
    }

    .buttom-footer hr {
        width: auto;
        display: none;
    }

    .top-footer {
        gap: 60px;
        flex-wrap: wrap;
    }

    .buttom-footer hr {
        width: 100%;
    }
}


/* Mobile */
@media (max-width: 576px) {

    .footer {
        height: auto;
        gap: 40px;
        padding: 40px 15px;
    }

    .buttom-footer hr {
        width: auto;
        display: none;
    }

    .top-footer {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
    }

    .adresse1,
    .footer-contact,
    .hours-footer,
    .Follow {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .buttom-footer hr {
        width: 100%;
    }
}