/* ************Desktop*********** */
/* navbare */
* {

    margin: 0;
}

body {
    width: 100%;
}

.nav {

    width: 100%;
    height: 5vw;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 999;

}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-inline: 100px;
}

.links a {
    text-decoration: none;
    color: gainsboro;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button {

    display: flex;

}

.title span {
    color: red;

}

.button .btn1 {
    width: 120px;
    padding: 5px;
    border: none;
    background-color: rgb(202, 47, 27);
    border-radius: 25px;
    color: white;
    font-weight: bold;




}

/* section why choose yummy  */
.why {
    width: 100%;
    height: 60vh;
    background-color: rgb(237, 227, 227);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card1 {

    width: 40vh;
    height: 40vh;
    background-color: rgb(202, 47, 27);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 20px;
    padding-top: 20px;
    color: white;
    align-items: center;

    button {
        background-color: rgba(198, 194, 194, 0.271);
        border: none;
        color: white;
        border-radius: 30px;
        width: 150px;
        height: 40px;

    }

    button:hover {
        background-color: white;
        color: rgb(202, 47, 27);
    }

}

.card2 {
    width: 25vh;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-inline: 20px;
    padding-top: 20px;

    i {
        background-color: rgb(221, 190, 190);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: rgba(210, 9, 9, 0.777);
    }
}

.p2 {
    color: grey;
}

.card2:hover {

    i {
        color: white;
        background-color: rgba(210, 9, 9, 0.777);
    }
}

.card3 {
    width: 25vh;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-inline: 20px;
    padding-top: 20px;

    i {
        background-color: rgb(221, 190, 190);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: rgba(210, 9, 9, 0.777);
    }
}

.card3:hover {

    i {
        color: white;
        background-color: rgba(210, 9, 9, 0.777);
    }
}

.card4 {
    width: 25vh;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-inline: 20px;
    padding-top: 20px;

    i {
        background-color: rgb(221, 190, 190);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: rgba(210, 9, 9, 0.777);
    }
}

.card4:hover {

    i {
        color: white;
        background-color: rgba(210, 9, 9, 0.777);
    }
}

/* section number and baground images */

.bgimg {
    width: 100%;
    height: 60vh;
    background-image: url(../images/stats-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 250px;

    h1 {
        color: white;
        font-size: 60px;

    }

    p {
        color: grey;
        font-weight: bold;
    }
}

/* book a table  */

.book-table {

    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    /* padding-inline: 50px; */

    .book2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;


        padding-top: 30px;

        h2 {
            font-family: "Satisfy", cursive;

        }

        h2 span {
            color: rgb(202, 47, 27);

        }

        p {
            color: rgb(210, 205, 205);
        }

        button {
            padding: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            background-color: rgba(238, 167, 37, 0.616);
            border-radius: 20px;
            color: rgb(136, 96, 21);
            display: flex;
            align-items: center;
            justify-content: center;


        }
    }

    .cartes {
        display: flex;
        gap: 40px;
        background-color: #efefef;
        width: 180vh;

        input {

            width: 180px;
            height: 6vh;
        }

        .cartes-rights {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 30px;



            button {
                border: none;
                background-color: rgb(202, 47, 27);
                color: white;
                width: 190px;
                height: 50px;



            }

            .button9 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }



}

/* **contact us ** */
.contact {
    background-color: blueviolet;
    width: 100%;
    height: 160vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .maps {
        display: flex;

        justify-content: center;
    }

    .conta {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .button4 {
            padding: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
            background-color: rgba(255, 166, 0, 0.616);
            border-radius: 20px;
            color: orange;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h2 {

            span {
                color: orange;
            }
        }
    }

    .les-informations {
        /* padding-inline: 90px; */

        background-color: palegreen;
        width: 70%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 160px;


        .small-part {
            display: flex;
            flex-direction: column;
            gap: 30px;

            /* padding-inline: 30px;
            padding-top: 25px;
            width: 30%;
            height: 70vh;
            background-color: white; */
            .icone {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .saf1 {
                display: flex;
                width: 100%;
                background-color: blue;
                gap: 40px;

                .adresse {
                    background-color: rgb(232, 232, 232);
                    width: 100vh;
                    height: 10vh;
                }

                .call {
                    background-color: rgb(232, 232, 232);
                    width: 100vh;
                    height: 10vh;
                }

            }

            .saf2 {

                display: flex;
                background-color: rgb(0, 255, 200);
                gap: 30px;

                .email {
                    background-color: rgb(232, 232, 232);
                    width: 80vh;
                    height: 10vh;

                }

                .opening {
                    background-color: rgb(232, 232, 232);
                    width: 80vh;
                    height: 10vh;
                }


            }

            i {
                color: white;
                background-color: rgba(210, 9, 9, 0.777);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }

    }

    .big-part {
        padding-inline: 30px;
        height: 70vh;

        padding-top: 20px;
        padding-bottom: 20px;
        width: 94%;
        background-color: pink;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 20px;

        input {

            width: 350px;
            height: 6vh;
        }

        .name-email {
            display: flex;
            gap: 20px;

        }


    }


    button {
        border: none;
        background-color: rgb(202, 47, 27);
        color: white;
        width: 190px;
        height: 50px;
        border-radius: 30px;





    }
}

/* *****footer**** */
.footer {
    color: white;
    width: 100%;
    height: 40vh;
    background-color: #1e160d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    .top-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;

        .footer-contact {
            display: flex;
            gap: 20px;

            i {
                font-size: 20px;
                color: rgb(202, 47, 27);
            }
        }

        .adresse1,
        .hours-footer {
            display: flex;
            gap: 20px;

            i {
                font-size: 20px;
                color: rgb(202, 47, 27);
            }

        }

        .para1 {
            padding-bottom: 30px;
        }

        .Follow {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .icones {

                display: flex;
                gap: 10px;

                i {

                    background-color: transparent;
                    border: solid 2px grey;
                    border-radius: 50%;
                    align-items: center;
                    padding: 10px;
                    width: 10px;
                    height: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

            }


        }
    }

    .buttom-footer {
        p span {
            color: rgb(202, 47, 27);
        }

        hr {
            width: 190vh;


        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

}


/* *************Tablette************ */





/* ***************Mobile*************** */